
.select-wrapper {
    
    .form-label {
        color: #333333; //repeated
        line-height: 40px; //repeated
    }
    .form-select {
        height: 40px; //repeated max-height: 40px;
        border: 1px solid #E5E5E5; //repeated
        border-radius: 4px; //repeated
        padding-right: 15px; //repeated
        background-color: #fff;
        color: #E1E1E1;
        // TO HIDE THE ARROW ICON OF THE SELECT BOX
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    .star-icon {
        color: #D44D42; //repeated
        margin-right: 5px; //repeated
    }
    
}

// CHANGE THE COLOR OF THE SELECT'S ARROW
.select-wrapper:after {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    position: relative;
    top: 40%;
    left: 25px;
    content: "";
    z-index: 98;
}

@media only screen and (max-width: 480px) {
    .select-wrapper {
        grid-template-columns: 90% !important; //repeated
        grid-template-rows: 40px 40px; //repeated custom-input
        .form-label {
            grid-column-start: 1; //repeated
            grid-column-end: 4; //repeated
        }
    }
}
