
// SHOULD MOVE SHARED STYLES WITH CUSTOM SELECT INPUT TO THE HOME.SCSS
.input-wrapper {
    .form-label {
        color: #333333; //repeated
        line-height: 40px; //repeated
    }

    .form-input {
        max-height: 40px; //repeated
        border: 1px solid #E5E5E5; //repeated
        border-radius: 4px; //repeated
        padding-right: 15px; //repeated
    }

    ::placeholder {
        color: #E1E1E1; //repeated
    }

    img.form-icon {
        margin: auto 10px auto 0; //repeated
        cursor: pointer; //repeated with custom-select
    }

    // FIX IT LATER

    // img.form-icon:nth-of-type(1), 
    // img.form-icon:nth-of-type(2),
    // img.form-icon:nth-of-type(3) {
    //     display: none;
    // }

    .star-icon {
        color: #D44D42; //repeated
        margin-right: 5px; //repeated
    }
}

@media only screen and (max-width: 480px) {
    .input-wrapper {
        grid-template-columns: 90% !important;  //repeated
        grid-template-rows: 40px 40px; //repeated with custom-select
        .form-label {
            grid-column-start: 1; //repeated
            grid-column-end: 4; //repeated
        }
        .form-input {
            font-size: 12px;
        }
    }
}


