
// SHOULD MOVE SHARED STYLES WITH CUSTOM SELECT INPUT TO THE HOME.SCSS
.input-wrapper {
    margin-bottom: 10px;
    display: grid;
    // FOR NOW!, LATER ASSIGN RELATIVE WIDTH
    grid-template-columns: 94px 220px 26px;
    grid-row-gap: 10px;
    .form-label {
        color: #333333;
        line-height: 40px;
    }

    .form-input {
        height: 40px;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        padding-right: 15px;
    }

    ::placeholder {
        color: #E1E1E1;
    }

    .form-icon {
        margin: auto;
        width: 16px;
        height: 16px;
        background: #333333;
    }

    .star-icon {
        color: #D44D42;
    }
}

div.input-wrapper:nth-of-type(1),
div.input-wrapper:nth-of-type(6),
div.input-wrapper:nth-of-type(9) {
    grid-template-columns: 94px 380px 26px;
}