
.input-wrapper {
    .form-label {
        color: #333333; 
        line-height: 40px; 
    }

    .form-input {
        max-height: 40px; 
        border: 1px solid #E5E5E5; 
        border-radius: 4px; 
        padding-right: 15px; 
    }

    ::placeholder {
        color: #E1E1E1; 
    }

    img.form-icon {
        margin: auto 10px auto 0; 
        cursor: pointer;  
    }

    .star-icon {
        color: #D44D42; 
        margin-right: 5px; 
    }
}

@media only screen and (max-width: 480px) {
    .input-wrapper {
        grid-template-columns: 90% !important;  
        grid-template-rows: 40px 40px;  
        .form-label {
            grid-column-start: 1; 
            grid-column-end: 4; 
        }
        .form-input {
            font-size: 12px;
        }
    }
}


